@font-face {
    font-family: MINECRAFTER;
    src: url(assets/MinecrafterReg.ttf);
}

@font-face {
    font-family: LATO;
    src: url(assets/Lato-Regular.ttf);
}

@font-face {
    font-family: LATOBOLD;
    src: url(assets/Lato-Bold.ttf);
}

@font-face {
    font-family: LATOBLACK;
    src: url(assets/Lato-Black.ttf);
}

.disable {
    /* nft websites can't figure this out when it took me a quick google search */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

br {    /* just makes it easier */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    /*background: #789feb;*/
    display: none;
}


body {
    font-family: LATOBOLD, "Castledown", "Gotham SSm A", "Gotham SSm B", "Noto Sans", sans-serif; /* i stole this font from a school survey website and it works >:) */
    background-color: black;
    overflow: overlay;
    overflow-x: hidden;
    cursor: default;
    margin: 0px;
    padding: 0px;
    border: 0px;
}



.header {
    width: 100vw;
    height: 2.5rem;
    background-color: #ffffff50;
    color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    text-align: center;
    backdrop-filter: blur(5px);
}

.header-logo {
    height: 2rem;
    margin-top: 0.25rem;
    object-fit: cover;
}

.shrink-logo {
    transition-duration: 1s;
}

.logofun {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
}

.pixely {
    image-rendering: pixelated;
}

.pointy {
    cursor: pointer;
}

.normal {
    cursor: default;
}

main {
    color: white;
    z-index: -5000;
    top: 0px;
    left: 0px;
    text-align: center;
}

.header-menu-burger {
    position: absolute;
    left: 0.25em;
    height: 2em;
    top: 0.25em;
    z-index: 5500;
    transition-duration: 400ms;
}

.headermenu {
    position: fixed;
    text-align: center;
    top: 2.5em;
    left: -100vw;
    width: 30rem;
    height: 100vh;
    background-color: #ffffff30;
    backdrop-filter: blur(4px);
    z-index: 1000;
    color: white;
    transition-duration: 1s;
}

.menutext {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1.5rem;
    margin-bottom: 7px;
    color: white;
}

.menu-title {
    font-size: 2rem;
    margin: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.menusection {
    font-size: 1.75rem;
    text-decoration: underline;
    margin: 0px;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

a {
    text-decoration: none;
    color: white;
    transition-duration: 400ms;
}

a:hover {
    color: #e4e4e4;
}

.sm-arrow {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 5px;
    transform: rotateY(180deg);
    transition-duration: 1s;
}

#arowtm {
    transition-duration: 400ms;
}

.sm-arrow:hover #arowtm {
    fill: #e4e4e4;
}

.header-menu-burger:hover {
    fill: #e4e4e4;
}

/*
crop??
    image-fit

*/

.footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #3b3b3b;
    width: 100vw;
    z-index: 100;
    color: white;
    height: auto;
    min-height: 6rem;
    display: flex;
    padding-bottom: 0px;
    flex-wrap: wrap;
}

.footer-logo {
    height: 2.5rem;
    margin: 0.35rem;
    margin-left: 0px;
}

.footer-text {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1.25rem;
}

.coopyright {
    margin-left: 0px;
}

.doecoin {
    width: 3rem;
    height: 3rem;
    margin-top: 0.65rem;
    margin-left: 0.35rem;
}

.push {
    margin-left: auto;
}

.flexy {
    display: flex;
}

.doecointext {
    margin-top: 0.65rem;
    margin-left: 0.35rem;
    margin-right: 1.35rem;
}

.title-main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation-duration: 0.4s;
    font-size: 0px;
}


.title-main-img {
    height: 6rem;
}

.short-bio {
    font-size: 2rem;
}

.socials {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@keyframes title-bloop {
    0% { transform: translateY(0px) }
    /*45% { transform: translateY(-100px) }*/
    50% { transform: translateY(-100px) }
    80% { transform: translateY(20px) }
    90% { transform: translateY(5px) }
    100% { transform: translateY(0px) }
}

.footer-thank {
    font-size: 1.25rem;
    margin-top: 0.35rem;
    margin-bottom: 0.5rem;
}

.ftl {
    width: 2.25rem;
    margin-left: 0.35rem;
    transition-duration: 400ms;
    fill: white;
}

.ftl:hover {
    fill: #e4e4e4;
}

.footerdiv {
    transition-property: margin;
    transition-duration: 1s;
    margin-left: 0.35rem;
}

.backy {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -100;
}


.backy-blur {
    position: fixed;
    width: 150vw;
    height: 150vh;
    background-size: cover;
    background-position: center;
    z-index: -50;
}

.scl {
    height: 4.25rem;
    margin-left: 0.35rem;
    transition-duration: 400ms;
    fill: white;   
}

.scl:hover {
    fill: #e4e4e4;
}

.backy-text {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -100;
    color: white;
    margin: 0.5rem;
    margin-bottom: 0.75rem;
}